/* <-------------------------Changes everything-------------------------> */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* <-------------------------Images-------------------------> */
.banner{
    height: 400px;
    background-image: url(../assets/design1_image2.jpg);
    background-size: cover;
}
.imglogo{
    width: 240px;
    height: 240px;
    /* border: solid orange; */
    display: inline-block;
}
.fotito{
    height: 210px;
    display: block;
    /* border: solid orange; */
}
/* <-------------------------Texts-------------------------> */
.textito{
    display: flex;
    flex-direction: row;
    /* border: gray; */
}
article{
    padding-left: 10px;
    display: inline;
    /* border: solid orange; */
}
.abt p{
    text-indent: 20%;
}
h1{
    /* background-color: grey; */
    color: black;
    width: fit-content;
    height: fit-content;
    /* border: solid orange; */
}
.conteiner_maintittle{
   align-content:center;
}
/* <-------------------------Conteiners-------------------------> */

/* <-------------------------Buttons-------------------------> */
.button{
    padding: 1px 5px;
    text-decoration: none;
    font-style: oblique;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: white;
    border: 1px solid black;
    background-color: rgb(10, 98, 180);
    display: inline-flex;
}
.button:hover{
    background-color: rgb(71, 100, 26);
    display: inline-flex;
}
.button_active{
    padding: 1px 5px;
    text-decoration: none;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: white;
    border: 1px solid black;
    background-color: rgb(96, 158, 4);
    display: inline-flex;
}

nav{
    display: inline;
    /* border: solid orange; */
    position: sticky;
    left: 80%;
    top: 3.5%;
}

