/* <-------------------------Changes everything-------------------------> */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    display: flex;
    flex-wrap: wrap;
} */
/* Por algún motivo habilitar esto me corre el footer a la izquierda */

/* <-------------------------IMAGES-------------------------> */

header {
    height: 300px;
    width: 98%;
    background-image: url(../assets/design1_image2.jpg);
    background-size: cover;
    min-height: 20vh;
    margin: 5px;
    border-radius: 10px;
}

.imgLogo {
    width: 150px;
    height: 150px;
    /* border: solid orange; */
    display: flex;
    align-content: center;
}

.fotito {
    height: 250px;
    /* display: flex;
    position: relative;
    align-items: center; */
    /* justify-content: center; */
    border: 1px solid orange;
}

/* Todavía me sigo preguntando porqué estoy poniendo clases en español e ingles... no me acostumbro a esto y encima acabo más perdido (-__-) */
/* <-------------------------TEXTS-------------------------> */
.textito {
    display: flex;
    flex-direction: row;
    position: relative;
    /* border: gray; */
}

.page-title {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    padding-left: 10px;
    display: inline;
    /* border: solid orange; */
}

.abt p {
    text-indent: 20%;
}

h1 {
    font-size: 6vh;
    margin: 0px 20px 0px 20px;
}

h2 {
    font-size: xx-large;
    font-weight: 1000;
    margin: 0px 60px 0px 60px;
    text-align: center;
}

.salto {
    justify-content: center;
    align-items: center;
}

.textmain {
    align-content: center;
    flex: 10% 1 auto;
}

p {
    text-indent: 20px;
    font-size: larger;
    margin-block: 3vh;
}

/* <-------------------------CONTAINERS-------------------------> */
.articles {
    margin: 0vh 12vh 0vh 12vh;
}

/* <-------------------------Buttons-------------------------> */
.button {
    padding: 1px 5px;
    text-decoration: none;
    font-style: oblique;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: white;
    border: 1px solid black;
    background-color: rgb(10, 98, 180);
    display: inline-flex;
}

.button:hover {
    background-color: rgb(71, 100, 26);
    display: inline-flex;
}

.button_active {
    padding: 1px 5px;
    text-decoration: none;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: white;
    border: 1px solid black;
    background-color: rgb(96, 158, 4);
    display: inline-flex;
}

nav {
    display: inline;
    /* border: solid orange; */
    position: absolute;
    justify-content: center;
    left: 30%;
    top: 55%;
}

.abajo {
    position: absolute;
    left: 80%;
    top: 80%;
}

/* La clase de arriba no me está funcionando y tengo que trabajar, luego veo de qué se trata */

.nav-container {
    display: flex;
    flex-wrap: wrap;
}

nav a {
    padding: 10px;
}

/* LISTS ---------------------------------------------------*/

li {
    padding: 7px;
}

.head-list {
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
}

.alphabetic-lists {
    list-style: lower-latin;
    margin-left: 40px;
}

.head-sub-list {
    margin-top: 15px;
    text-decoration: underline;
}

/* TABLES ---------------------------------------------------*/
.table-titles {
    text-align: center;
    font-weight: 1000;
}

.table1 {
    border: 2px solid rgb(78, 76, 163);
    margin-left: auto;
    margin-right: auto;
}

.table2 {
    margin: 10px 0px 20px 0px;
    text-align: left;
}

th {
    font-weight: 700;
    font-size: larger;
}

td {
    padding: 5px;
    font-size: larger;
}

/* FOOTER ---------------------------------------------------*/
footer {
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer p {
    margin: 10px;
    font-size: 1em;
}

/* Falta eliminar clases viejas y adicionar alguna que otra que me faltó (porque la creé pero no la apliqué acá) */